*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Raleway,sans-serif ;
}
.center{
    display: flex;
   /* flex-wrap: wrap;*/
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    
}
html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}



header{
    height: 200px;
    padding: 20px 0;

}
.logo{
    width: 50%;
}
.menu{
    padding-top: 30px;
    text-align: right;
    width: 50%;
}
.menu a:hover{
    color: red;
}

.menu a{
    text-decoration: none;  
    color: black;
    font-weight: bold;
    margin-right: 15px;
    font-size: 20px;
}
section.sobre{
    height: calc(100% - 200px);
    position: relative;
}
section.sobre{
    height: calc(100% - 200px);
    position: relative;
}
.extras{
    position: absolute;
    bottom:-450px;
    right:-500px;
    width: 1200px;
    height:1200px;
    border-radius:50%;
    background-color: #017143;
    z-index: -1;
}
 


.sobre img{
    margin-left: 1300px;

}
div.texto-sobre h2{
  
    font-size: 50px;
    
    
}

div.texto-sobre p{
    margin: 20px 0;
    font-size: 15px;
    font-weight: bold;
    max-width: 800px;
}
div.texto-sobre{
    margin-top: -500px;
    margin-left: 350px;
}